#datos{
    margin-left: 50px;
}

#img>img{
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 15px;
}

.dato>td>p{
    margin-left: 200px;
    margin-right: 500px;
    font-size: 25px;
}

#titulo{
    margin-left: 150px;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 15px 0 15px 0;
    border-style: solid;
    border-width: 1px;
}

.navbar-default {
    width: 100%;
    text-align: center;

  }

#cuerpo{
	background-color:#181A1A;
	
	
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 15px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: #f5f5f0;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}
.subtitulos{
	color: black;
	text-align: left;
	font-family: sans-serif;
	font-size:medium;
	padding-top: 50px;
	padding-bottom: 10px;
}
div.panel.show {
    opacity: 1;
    max-height: 500px;  
}

#ingresarEncomienda{
	margin-left: 300px;
    margin-right: 500px;
}

#formLogin{
    margin-top: 20px;
    background-color: #C0E4DE;
    width: 500px;
    height: auto;
}

#login{
    padding-left: 100px;
}
#botonlogin{
	text-align: center;
	display: inline-block;
}
.botonesSubtitulos{
	
	padding-bottom: 10px;
	
}
.btnCerrar{
	padding-right: 100px;
}
.titulo{
	color: black;
	text-align: left;
	font-family: sans-serif;
	font-size:large;
	padding-top: 5px;
}

.formulario{
	
	
	
	padding-top: 25px;
}
.tituloForm{
	
	text-align: center;
	
}
.btnForm{
	text-align: center;
}